{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Business To Business plugin for Craft CMS 3.x
 *
 * Business To Business index.twig
 *
 * @author    Darryl Hardin
 * @copyright Copyright (c) 2019 Darryl Hardin
 * @link      http://importantcoding.com
 * @package   BusinessToBusiness
 * @since     1.0.0
 */
#}

{% extends '_layouts/elementindex' %}

{% set title = 'Employees' | t('business-to-business') %}
{% set docTitle = title ~ ' - Business To Business' %}
{% set elementType = 'importantcoding\\businesstobusiness\\elements\\Employee' %}
{# {% set elementInstance = craft.app.elements.createElement(elementType) %} #}
{# {% set context = 'index' %} #}
{# {% set sources = craft.app.elementIndexes.getSources(elementType, 'index') %} #}
{# {% set employees = craft.businessToBusiness.employees() %} #}
{% set selectedSubnavItem = 'employees' %}
{# {% block content %}
    <div class="elementindex">
        {% include "_elements/indexcontainer" with {
            showSiteMenu: true
        } %}
    </div>
{% endblock %} #}

{% js %}
    if (typeof Craft.BusinessToBusiness === 'undefined') {
        Craft.BusinessToBusiness = {};
    }

    {% set businesses = [] %}

    {% for business in craft.businessToBusiness.getEditableBusinesses() %}
        {% set businesses = businesses | merge([{
            id: business.id,
            name: business.name,
            handle: business.handle,
        }]) %}
    {% endfor %}

    {# // Craft.BusinessToBusiness.editableBusinesses = {{ businesses | json_encode | raw }};
    // {% set businessHandle = business.handle %} #}
    {% if businessHandle is defined %}
        window.defaultBusinessHandle = '{{ businessHandle }}';
    {% endif %}


    {% set vouchers = [] %}

    {% for voucher in craft.businessToBusiness.getEditableVouchers() %}
        {% set vouchers = vouchers | merge([{
            id: voucher.id,
            name: voucher.name,
        }]) %}
    {% endfor %}

    Craft.BusinessToBusiness.editablevouchers = {{ vouchers | json_encode | raw }};

    {% if voucherHandle is defined %}
        window.defaultVoucherHandle = '{{ voucherHandle }}';
    {% endif %}

    
{% endjs %}


{% do view.registerAssetBundle("importantcoding\\businesstobusiness\\assetbundles\\employeescpsection\\EmployeesCPSectionAsset") %}