{% extends "commerce/_layouts/cp" %}
{% set selectedSubnavItem = 'business' %}
{# {% set bodyClass = (bodyClass is defined ? bodyClass~' ' : '') ~ "commercesettings" %} #}
{% do view.registerAssetBundle("importantcoding\\businesstobusiness\\assetbundles\\businesstobusiness\\BusinessToBusinessAsset") %}
{% do view.registerAssetBundle("importantcoding\\businesstobusiness\\assetbundles\\businesscpsection\\BusinessCPSectionAsset") %}

{% if title is not defined %}
    {% set title = 'Business To Business' | t('business-to-business') %}
{% endif %}

{% set navItems = {} %}

{% if currentUser.admin %}
    {% set navItems = navItems|merge({
        'business': { title: "Business"|t('business-to-business') },
        'shippingrules': { title: "Business Shipping Rules"|t('business-to-business') },
    }) %}
{% endif %}

{% if selectedItem is not defined %}
    {% set selectedItem = craft.app.request.getSegment(3) %}
{% endif %}

{# {% set docTitle = navItems[selectedItem].title~' - '~title %} #}

{% block sidebar %}
    <nav>
        <ul>
            {% for handle, item in navItems %}
                {% if item.heading is defined %}
                    <li class="heading"><span>{{ item.heading }}</span></li>
                {% else %}
                    <li>
                        <a href="{{ url('business-to-business/business/'~handle) }}"{% if handle == selectedItem %} class="sel"{% endif %}>{{ item.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
{% set content %}
    {% block blockContent %}

    {% endblock %}

    <hr>
    
    <div id="plugin-footer">
        <div class="footer-left">
            {% block footerButton %}

            {% endblock %}
        </div>

        <div class="footer-right">
            <a class="plugin-credit" href="https://importantcoding.com" target="_blank">


                <div class="credit-pill">
                    <div class="credit-mask">
                        <div class="credit-wrap">
                            {% include 'business-to-business/_svg/importantcoding.svg' %}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endset %}
{# {% extends parentLayout ?? '_layouts/cp' %}

{% do view.registerAssetBundle("importantcoding\\businesstobusiness\\assetbundles\\businesstobusiness\\BusinessToBusinessAsset") %}
{% do view.registerAssetBundle("importantcoding\\businesstobusiness\\assetbundles\\businesscpsection\\BusinessCPSectionAsset") %}

{% if title is not defined %}
    {% set title = 'Business To Business' | t('business-to-business') %}
{% endif %}

{% set content %}
    {% block blockContent %}

    {% endblock %}

    <hr>
    
    <div id="plugin-footer">
        <div class="footer-left">
            {% block footerButton %}

            {% endblock %}
        </div>

        <div class="footer-right">
            <a class="plugin-credit" href="https://importantcoding.com" target="_blank">


                <div class="credit-pill">
                    <div class="credit-mask">
                        <div class="credit-wrap">
                            {% include 'business-to-business/_svg/importantcoding.svg' %}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endset %} #}

